.sideBarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: normal;
    font-size: 22px;
    margin-right: 40px;
}
.icon{
    padding-right:20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 25px;
}
.sideBarOption > p{
    margin-right: 20px;
    display: block;
}
.sideBarOption:hover {
    background-color: #E7E7E8;
    border-radius: 30px;
    color:#0F1419 ;
    transition: background-color 100ms ease-out;
}
@media screen and (max-width:1300px)
{
    .sideBarOption > p{
        display: none;
    }
    .sideBarOption{
        text-align: center;     
        margin: 0 auto !important;
        display: block;
        width: 50px !important;
    }
    .icon{
        margin: 0 !important;
        width: 20px !important;
        padding: 8px !important;
    }
    .twitterIcon{
        display: block !important;
        margin:0px auto !important;
        margin-bottom: 15px !important;
    }
}